<footer>
    <div class= "down">
        <div class= "service">
            <p>Servicio al Cliente</p>
            <nav class="servicio">
                <ul>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contactanos</a></li>   
                    <li><a href="#">Testimonios</a></li> 
                    <li><a href="#">Rastrea tu Envio</a></li>   
                    <li><a href="#">Información de Envio</a></li>                                     
                </ul>
            </nav>
        </div>
        <div class="account">
            <p>Mi Perfil</p>
            <nav class="perfil">
                <ul>
                    <li><a href="#">Login o Registrate</a></li>
                    <li><a href="#">Historial de Compras</a></li>
                    <li><a href="#">Invitar a un Amigo</a></li>
                </ul>
            </nav>
        </div>
        <div class="information">
            <p>Información</p>
            <nav class="info">
                <ul>
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Tiendas</a></li>

                </ul>
            </nav>
        </div>
        <div class="follow">
            <p>Redes Sociales</p>
            <nav class="redes">
                <ul>
                    <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                </ul>
            </nav>
        </div>
   
        <div class="terms">
            <div class= "footer-flex">
                <p>@2021 Los roperos. Todos los derechos reservados. </p>
                <nav>
                    <ul>
                        <li><a href="#">Terminos</a></li>
                        <li><a href="#">Privacidad</a></li>
                        <li><a href="#">Politica</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>