<footer>
    <div class= "down">
        <div class= "service">
            <p>Servicio al Cliente</p>
            <nav class="servicio">
                <ul>
                    <li><a href="/FAQ">FAQs</a></li>
                    <li><a href="/contacto">Contactanos</a></li>   
                    <li><a href="/rastreo">Rastrea tu Envio</a></li>                                  
                </ul>
            </nav>
        </div>
        <div class="account">
            <p>Mi Perfil</p>
            <nav class="perfil">
                <ul>
                    <li><a href="#">Login o Registrate</a></li>
                    <li><a href="/invite">Invitar a un Amigo</a></li>
                </ul>
            </nav>
        </div>
        <div class="information">
            <p>Información</p>
            <nav class="info">
                <ul>
                    <li><a href="/acerca">Acerca de Nosotros</a></li>
                    <li><a href="/tiendas">Tiendas</a></li>

                </ul>
            </nav>
        </div>
        <div class="follow">
            <p>Redes Sociales</p>
            <nav class="redes">
                <ul>
                    <li><a href="https://www.facebook.com/marketplace/category/apparel" target="_blanck"> <i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/ropageekmx/" target="_blanck"> <i class="fab fa-instagram"></i> </a></li>
                    <li><a href="https://twitter.com/EnriquePelleje" target="_blanck"><i class="fab fa-twitter"></i> </a></li>
                </ul>
            </nav>
        </div>
   
        <div class="terms">
            <div class= "footer-flex">
              
                <nav>
                    <ul>
                        <!---<li><a href="#">Terminos</a></li> -->
                        <li><a href="/privacidad">Aviso de privacidad</a></li>
                        <!--- <li><a href="#">Politica</a></li> -->
                    </ul> 
                    <p>@2022 Los roperos. Todos los derechos reservados. </p>
                </nav>
            </div>
        </div>
    </div>
</footer>