
<header>
            
    <div class= "buscador"> 
         <form class="form" action="/search" method="GET">
            <div> <input type="text" name="buscador" placeholder="     Buscar" class="input-buscador">
            </div>
            <i class="fa fa-search"></i>
        </form>
    </div>

    <div class="logo">
        <img src= "/images/logo.jpg" alt="logo temporal">  
    </div>

    <div class= "navegacion">
        <nav>
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="./user/login"> Login </a></li>
                <li><a href="../carrito"> Carrito </a></li>
            </ul>
        </nav>
    </div>
        
    <div class="productos">
        <nav>
            <ul>
                <li><a href=#></a>Mujer</li>
                <li><a href=#></a>Hombre</li>

             </ul>
        </nav>
    </div> 

</header>