
<header>
            
    <div class= "buscador"> 
         <form class="form" action="/search" method="GET">
            <div> <input type="text" name="buscador" placeholder="     Buscar" class="input-buscador">
            </div>
            <i class="fa fa-search"></i>
        </form>
    </div>

    <div class="logo">
        <img src= "/images/LosRoperos(logo).png" alt="logo temporal" width="120px">  
    </div>

    <div class= "navegacion">
        <nav>

            <ul class="navbar-nav align-items-center">
                <li><a href="/"> Home </a></li>
                <li><a href="../carrito"> Carrito </a></li>
				<% if (locals.isLogged) { %>
                    <li><a href="/user/profile"> Perfil </a></li>
                    <li><a href="/user/logout"> Logout </a></li>
				<% } else { %>
					<li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
				<% } %>
			</ul>

        </nav>
    </div>
        
    <div class="productos">
        <nav>
            <ul>
                <li><a href=#></a>Mujer</li>
                <li><a href=#></a>Hombre</li>

             </ul>
        </nav>
    </div> 

</header>