<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Agregar nuevo producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>

        <!-------------------------------------------------------------------------- Cabezal -------------------------------------------------------------------------->
        <%-include ("./partials/header.ejs") %>
        
        <!-------------------------------------------------------------------------- Banner --------------------------------------------------------------------------->
        <%-include ("./partials/banner.ejs") %>
        
        <!-------------------------------------------------------------------------- Main ----------------------------------------------------------------------------->
            <main>

                <P>Hola a todos!!!.</P>
            </main>
        
        <!-------------------------------------------------------------------------- Footer -------------------------------------------------------------------------->
        <%-include ("./partials/footer.ejs")%>

    </body>
   <!-- http://localhost:1689/product/add -->
 </html>
 