<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/cssLogin.css" type="text/css" media="all">
    <title>Aviso de privacidad</title>
</head>
    <body>
    <%-include ("./partials/header.ejs")%>
    <%-include ("./partials/banner.ejs")%>

    <Div>
        <p>
            AVISO DE PRIVACIDAD
Javier Santoyo, mejor conocido como Javier Santoyo, con domicilio en calle 123, colonia XYZ, ciudad La que sea,
municipio o delegación Monterrey, c.p. 66445, en la entidad de Nuevo Leon, país Mexico, y portal de internet
zmillsd_y779a@vixej.com, es el responsable del uso y protección de sus datos personales, y al respecto le
informamos lo siguiente:
¿Para qué fines utilizaremos sus datos personales?
Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias
para el servicio que solicita:
● Venta de textiles
● Venta zapatos
● Venta miselanea
● Mercadotecnia o publicitaria
● Prospección comercial
¿Qué datos personales utilizaremos para estos fines?
Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos
personales:
● Datos de identificación
● Datos de contacto
● Datos sobre características físicas
● Datos biométricos
● Datos laborales
● Datos académicos
● Datos migratorios
● Datos patrimoniales y/o financieros
Además de los datos personales mencionados anteriormente, para las finalidades informadas en el presente aviso de
privacidad utilizaremos los siguientes datos personales considerados como sensibles, que requieren de especial
protección:
● Datos sobre ideología; creencias religiosas, filosóficas o morales; opiniones políticas y/o afiliación sindical
● Datos de origen étnico o racial
¿Con quién compartimos su información personal y para qué fines?
Le informamos que sus datos personales son compartidos dentro y fuera del país con las siguientes personas,
empresas, organizaciones o autoridades distintas a nosotros, para los siguientes fines:
Destinatario de los datos personales Finalidad Requiere del consentimiento
Marcas oficiales Estadistica No
¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del
uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de
que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases
de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse
al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos
ARCO.
Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del
siguiente medio:
Correo electronico
Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su disposición el
siguiente medio:
Correo electronico
Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las
solicitudes de derechos ARCO, son los siguientes:
a) Nombre de la persona o departamento de datos personales: Javier Santoyo
b) Domicilio: calle 123, colonia La que sea, ciudad Monterrey, municipio o delegación Monterrey, c.p. 66440, en la
entidad de Nuevo Leon, país Mexico
c) Correo electrónico: zmillsd_y779a@vixej.com
d) Número telefónico: 1234567890
Usted puede revocar su consentimiento para el uso de sus datos personales
Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos
personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su
solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir
tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su
consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su
relación con nosotros.
Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio:
correo electronico
Para conocer el procedimiento y requisitos para la revocación del consentimiento, ponemos a su disposición el
siguiente medio:
zmillsd_y779a@vixej.com
¿Cómo puede limitar el uso o divulgación de su información personal?
Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes
medios:
zmillsd_y779a@vixej.com
Asimismo, usted se podrá inscribir a los siguientes registros, en caso de que no desee obtener publicidad de nuestra
parte:
Registro Público para Evitar Publicidad, para mayor información consulte el portal de internet de la PROFECO
Registro Público de Usuarios, para mayor información consulte el portal de internet de la CONDUSEF
El uso de tecnologías de rastreo en nuestro portal de internet
Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras tecnologías, a través de
las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor servicio y
experiencia al navegar en nuestra página. Los datos personales que recabamos a través de estas tecnologías, los
utilizaremos para los siguientes fines:
Estadistico
Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes:
Identificadores, nombre de usuario y contraseñas de una sesión
Idioma preferido por el usuario
Región en la que se encuentra el usuario
Tipo de navegador del usuario
Tipo de sistema operativo del usuario
Fecha y hora del inicio y final de una sesión de un usuario
Páginas web visitadas por un usuario
Búsquedas realizadas por un usuario
Publicidad revisada por un usuario
Listas y hábitos de consumo en páginas de compras
Asimismo, le informamos que su información personal será compartida con las siguientes personas, empresas,
organizaciones o autoridades distintas a nosotros, para los siguientes fines:
Destinatario de los datos personales Finalidad
Proveedores publicitarios Fines de lucro
Gobierno Fines de lucro
Estadistico general Educativos
¿Cómo puede conocer los cambios en este aviso de privacidad?
El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras
prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.
Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a
través de: zmillsd_y779a@vixej.com.
El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente
aviso de privacidad es el siguiente:
zmillsd_y779a@vixej.com
Su consentimiento para el tratamiento de sus datos personales
Consiento que mis datos personales sean tratados de conformidad con los términos y condiciones informados en el
presente aviso de privacidad.[ ]
Última actualización: 10/03/2022
        </p>
    </Div>
    <div>
    </div>
        <a href="./downloads/AvisoPrivacidad.pdf" download="Aviso de privacidad (ver. 1.0).pdf">Aviso de privacidad</a>
    </div>
    <%-include ("./partials/footer.ejs")%>
</body>
</html>