<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/cssLogin.css" type="text/css" media="all">
    <title>Login</title>
</head>
    <body class="login_Body">
    <%-include ("./partials/header.ejs")%>
    <%-include ("./partials/banner.ejs")%>
            <form class="login_Formulario">
                <h1>Login</h1><br>
                    <div class="contenedor">
                        <div class="input-contenedor">
                        <i class="fas fa-user icon"></i>
                        <input type="text" placeholder="Nombre de Usuario">
                    </div>
                        <div class="input-contenedor">
                            <i class="fas fa-envelope icon"></i>
                            <input type="text" placeholder="Correo Electronico">    
                        </div>
                            <div class="input-contenedor">
                                <i class="fas fa-key icon"></i>
                                <input type="password" placeholder="Contraseña">    
                            </div>
                    <input type="submit" value="Ingresar" class="button">    
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad.</p>
            <p>¿Ya tienes una cuenta? <a class="link" href="registro">Iniciar Sesion</a></p>
                    </div>
            </form>
    <%-include ("./partials/footer.ejs")%>
    </body>
</html>