<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
        <main>

        </main>
        <%- include('./partials/footer') %>
    </body>
    
</html>
