<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Agregar nuevo producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/cssAddProduct.css" type="text/css" media="all">
</head>
    <body id="Bodys">

        <!-------------------------------------------------------------------------- Cabezal -------------------------------------------------------------------------->
        <%-include ("./partials/header.ejs") %>
        
        <!-------------------------------------------------------------------------- Banner --------------------------------------------------------------------------->
        <%-include ("./partials/banner.ejs") %>
        
        <!-------------------------------------------------------------------------- Main ----------------------------------------------------------------------------->
            <main>
                <div id="AddProductDiv">
                    <form class="ProductForm" action="/product/update?_method=PUT" method="POST">

                        <p>Formato para editar el producto: </p>
                            
                        <label for="name"> Name: </label>
                        <input name="name" type="text" required>
                        <label for="model"> Model: </label>
                        <input name="model" type="text" required>
                        <label for="marca"> Marca: </label>
                        <input name="marca" type="text" required>
                        <label for="category"> Categria: </label>
                        <input name="category" type="text" required>
                        <label for="count"> Cantidad: </label>
                        <input name="count" type="number" required>
                        <label for="description"> Descripcion: </label>
                        <input name="description" type="text" required>
                            
                        <div id="AddProductBottones"></div>
                            <button name="Enviar" type="submit">Cargar</button>
                            <button name="Clear" type="reset">Reiniciar</button>
                        </div>
                    </form>

                </div>
                
            </main>
        
        <!-------------------------------------------------------------------------- Footer -------------------------------------------------------------------------->
        <%-include ("./partials/footer.ejs")%>

    </body>
   <!-- http://localhost:1689/product/add -->
 </html>
 