<!DOCTYPE html>
 <head>
        <meta charset="UTF-8">
        <title>Carrito de Compras</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Carrito de Compras</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            
            <div class= "buscador"> 
                <form class="form" action="#" method="GET">
                    <div> <input type="text" name="buscador" placeholder="     Buscar" class="input-buscador"></div>
                    <i class="fa fa-search"></i>
                </form>
            </div>
            <div class="logo">
                <img src= "images/logo.jpg" alt="logo temporal">  
            </div>
            <div class= "navegacion">
               
                <nav>
                    <ul>
                        <li><a href="home.html"> Home </a></li>
                        <li><a href="login.html"> Login </a></li>
                        <li><a href="carrito.html"> Carrito </a></li>
                    </ul>
                </nav>
            </div>
        
            <div class="productos">
                <nav>
                    <ul>
                        <li><a href=#></a>Mujer</li>
                        <li><a href=#></a>Hombre</li>
                        <li><a href=#></a>Niño</li>
                        <li><a href=#></a>Niña</li>

                    </ul>
                </nav>
            </div> 
            <div class="banner" >
                <div class="anuncio">
                    <p class="buen-fin">LLEGÓ EL BUEN FIN</p>
                    <p class="descuento">DESCUENTOS DEL 60%</p>
                </div>
            </div> 
            
        </header>
        <main>
            <h1>Carrito</h1>
                <section class= "main-section">
                    <div class= "descripcion">
                        <img src="images/ropa2.jpg" alt="producto-vender">
                        <div class= "name">
                            <strong id="descripcion">Los Roperos</strong>
                            <p id="descripcion">Cool Jacket 300 </p>
                            <p id="descripcion">Talla:Mediana</p>
                            <span id="descripcion">SKU: 34324535DT12-3124</span>
                        </div>
                    </div>
                    <div class="cantidad">
                        <div id="cantidad">
                            <span>Cantidad: </span>
                            <i class="fas fa-minus"></i>
                            <form class="numero" method="GET" action=# ><input type="text" id="cantidad" placeholder="  1"></form>
                            <i class="fas fa-plus"></i>
                         </div>
                    </div>
                    <div class="precio">
                        <div id="precio">
                            <span>$999.00 MXN</span>
                            <span>Eliminar</span> 

                        </div>
                    </div>
                </section>
                <section class="secondary-section">
                    <div id="cupon">
                        <span>Aqui va un cupon</span>
                    </div>
                    <div id="pagar">
                        <div class="subtotal">
                            <span>SUBTOTAL:</span>
                            <span>$999.00</span>
                        </div>
                        <div class="total">
                            <span>TOTAL:</span>
                            <span>$999.00</span>
                        </div>
                    </div>
                </section>
        </main>
        <footer>
            <div class= "down">
                <div class= "service">
                    <p>Servicio al Cliente</p>
                    <nav class="servicio">
                        <ul>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Contactanos</a></li>   
                            <li><a href="#">Testimonios</a></li> 
                            <li><a href="#">Rastrea tu Envio</a></li>   
                            <li><a href="#">Información de Envio</a></li>                                     
                        </ul>
                    </nav>
                </div>
                <div class="account">
                    <p>Mi Perfil</p>
                    <nav class="perfil">
                        <ul>
                            <li><a href="#">Login o Registrate</a></li>
                            <li><a href="#">Historial de Compras</a></li>
                            <li><a href="#">Invitar a un Amigo</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="information">
                    <p>Información</p>
                    <nav class="info">
                        <ul>
                            <li><a href="#">Acerca de Nosotros</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Tiendas</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="follow">
                    <p>Redes Sociales</p>
                    <nav class="redes">
                        <ul>
                            <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                        </ul>
                    </nav>
                </div>
           
                <div class="terms">
                    <div class= "footer-flex">
                        <p>@2021 Los roperos. Todos los derechos reservados. </p>
                        <nav>
                            <ul>
                                <li><a href="#">Terminos</a></li>
                                <li><a href="#">Privacidad</a></li>
                                <li><a href="#">Politica</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    
</html>
