<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/styleDetalleProducto.css">
    <link rel='shortcut icon' href="/img/logosvgRoperos.svg">
    <title>Detalle del producto</title>
</head>
<body >

    <header>
        <section class="Cabezal">
            <div class='divCabezal'>
                <img class= "logoCIA "src="/img/logosvgRoperos.svg" alt ='Logo Roperos' >
                <p class= 'textoCabezal'>Compra lo que quieras y te llega hasta la puerta de tu hogar.</p>
                <img Class= 'logoCarrito' src="/img/cart-arrow-down-solid.svg" alt ='carrito de compras' >
                </div>
        </section>
    </header>

    <main>

        <article class="container">
                <img class = "imgProduct" src="https://images.unsplash.com/photo-1591047139829-d91aecb6caea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=736&q=80" width="300">
                <p><strong>Nombre: </strong></p>
                <p><strong>Modelo: </strong></p>
                <p><strong>Marca: </strong></p>
                <p><strong>Existencias: </strong></p>
                <p><strong>Descripcion: </strong></p>
                <input  id="BtnAgreagarCarrito" type="button" value="agregarCarrito">
        </article>


    </main>
    
    <footer>
        <section class="pieFooterPadre">
            <ul class="pieDePagHijo">
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="https://github.com/JavierSantoyo89/grupo03_losRoperos">Repositorio</a></li>
            </ul>
            <div class="pieCentral">
                <p>Overflow 2021</p>
                <p>Todos los derechos reservados</p>
            </div>
            
        </section>
            
    </footer>
</body>
</html>