/*Te lo semi vacio(Ya es tu arte),  ya que tengas el CSS completo con tu diseño y con los prefijos adecuados
 "Nombre del sitio_ Calse/id" ej Login_Body lo pasas al css general y queda el sitio.*/

.login_Body{
    background-color: rgb(99, 96, 96);
}

.login_Formulario{
    display: flex;
    justify-content: center;
}