*{
    box-sizing: border-box;
  }

#noAutorizado_Body{
    background-image:url('../../images/SoloLogeados.png');
   height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}



