*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.rastreo__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: black;
    color: green;
    width: 90%;
}

.contact__img{
    width: 50%;
}