.registro_Body{
    display: flex;
    flex-direction: column;
   /* margin:0;*/
   /* font-family: 'roboto','sans-serif';*/
    font-size: 14px;
    background-color:lightskyblue;
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 .registro_Contenedor_Global{
     display: flexbox;
     justify-content: center;
   
    width: 30vw;
     align-self: center;
 }
 .registro_Form_Registro{
    display: flexbox;
    justify-content: center;
    flex-direction: column;
    
    height: 100%;/*160%*/
    border-radius: 10px;
    padding:15px;
   background:rgba(0,0,0,0.3);
   box-shadow:0 0 20px 0, inherit;
    z-index: -1;
 }

.registro_H2{
    text-align: center;
    margin-top: 0;
    /*color:rgba(0,0,0,0.4);*/
    color:#fff;
    }

.registro_Input-casilla:hover{
    color: #fff;
    background: rgba(0,0,0,0.3);
    cursor:pointer;
    
}

.registro_Input-formulario, .registro_Contraseña, .registro_Input-casilla{
 display:block;
 width: 100%;
 border: 1px solid rgba(0,0,0, 0.4);
 margin-top: 15px;
 border-radius: 2px;
 padding: 10px;
 /*background: rgba(0,0,0,0.1)*/;
 background: #fff;

}

#registro_cumpleaños{
    margin:0;
    padding:0;
}

.registro_H4{
    color:#fff;
}
.registro_H5{
    color:#fff;
font-size: 18px;
}


.checkbox_registro {
    color:#fff;
}
/*
@media(max-width:480){
    .form{
        width: 50%;
    }
.input-casilla,.input-formulario,.contraseña,#cumpleaños,#sell,#buy{
    width: 100%;
}
.label, .h4{
 width: 100%;   
}
}*/
