
/*----------------------------------------variables de CSS---------------------------------------------*/
:root{
    --blanco :#FFFFFF;
    --Roboto-font: "Roboto", sans-serif;
    --Cabin-font:"Cabin", sans-serif;
    --header-color: #C4C4C4;
    --productos-color:#1F1E1E;
    --negro: #1F1E1E;
    --celeste:#79BCCF;
    --anuncio-background:linear-gradient(91.25deg, rgba(33, 206, 255, 0.2) 0%, rgba(255, 2, 53, 0.2) 100%), #C4C4C4;
    
}
/*--------------------------------------------- css general----------------------------------------------*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: var(--Roboto-font);
    background-color: var(--blanco);
}
p{
    font-size: 12px;

/* ----------------------------------------------------- */

/* --------------------- Header ------------------------ */
}
/*--------------------------------- css header----------------------------------------------*/
header{
    display: flex;
    background-color: var(--header-color);
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
    flex-wrap: wrap;
    
}
header div {
    display:flex;
    justify-content: center;
    align-items: center;  
}
.buscador, .navegacion{
    width:35%;
}
.logo{
    width:30%;
    border-radius:100px
}
.buscador form{
    display: flex;
    box-shadow: 0px 7px 20px rgba(121, 188, 207, 0.4);
    background-color: var(--blanco); 
    border-radius: 100px;
    font-size: 30px;
}


.fa-search{
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    right:5px;
}
 .fa-search:before{
    font-size: 14px;
   
}
.buscador form .input-buscador{
    background-color: var(--blanco);
    outline: none;
    border: none;
    border-radius: 100px;
    justify-content:center;
    font-size: 18px;
    
}

.navegacion, .buscador{
    flex-direction:column;
    justify-content: flex-start;
    padding:25px;
}

.navegacion ul, .productos ul{
    display:flex;
    flex-direction:row;
    
    justify-content: space-between;
    list-style-type: none;
    
    
}

.navegacion ul li a, .productos ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--negro);
    font-weight: bold;
}
.navegacion ul li a:hover{
color:rgb(19, 19, 158);
}
.productos{
    width: 100%;
    background-color: var(--productos-color);
    color: var(--celeste);
    margin-right: 10%;
    margin-left:10%;
    font-weight: bold;
    border-radius: 5px;
}
/* ------------------------ */

/* ------------------------ Banner ------------------------ */


.banner{
    
    background-color: #FFFFFF;
    width: 100%;
    /* height: 100%; */
}

.anuncio{
    display:flex;
    flex-direction: column;
    background: var(--anuncio-background);
    width: 80%;
    /* height: 60%; */
    margin-right: 10%;
    margin-left:10%;
    margin-bottom: 1px;
    border-radius: 5px;
    align-items: center;
    
}
.anuncio p{
    font-size: 30px;
    padding:10px;
    
}
.descuento{
    font-weight:bolder;
}



/* --------------------- */




/* --------------------- Footer ----------------------- */

footer{
    background-color: var(--blanco);
    color: var(--blanco);
    /*padding:auto;*/
    font-size: 16px;
    border-radius: 5px;
}
footer p{
  font-size: 16px; 
  font-weight: bold;
}

footer .down{
    background-color:var(--negro);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:1px;
    padding: 20px;
    /* height:300px; */
    margin-top:1px;
    border-radius: 5px;

    
}
footer .down .service, .account, .information, .follow{
    width:23%;
    display:flex;
    flex-direction: column;
    padding-top: 40px;

   /* padding:0%;*/
    
   
}



footer ul{
    list-style-type: none;
    color: var(--blanco);
    text-decoration: none;
    padding:0%;
    /* height:1px; */
    
}
footer a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 14px;
}

footer .footer-flex ul, .terms ul, .follow ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.footer-flex ul a:hover{
    color:#ccc;
}
.servicio ul li a:hover{
    color:#ccc;
}  
.redes ul li a i:hover{
    color:#ccc;
}  
.info ul li a:hover{
    color:#ccc;
}  
.perfil ul li a:hover{
    color:#ccc;
}  

.follow p{ 
text-align: center;
}
.follow ul {
    text-align: center;
    justify-content:center;
    
}
footer .redes li{
    padding:10%;
}
footer i{
    font-size:24px;
}
footer .terms li{
    padding:2px;
    
}

/* --------------------- Footer ----------------------- */

#notFound-Body{
    background-image:url('../images/404Backfround.png');
   height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}


@media all and (min-width: 200px) and (max-width:1200px){
    header {

        width: 100%;
    }
header a{
    width: 100%;
}

  .input-buscador{
      width: 100%;
  }
    }