<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/AcerdaDe.css" type="text/css" media="all">
     <link rel="stylesheet" href="../css/bootstrap-grid.min.css" type="text/css" media="all">
    <title>Acerca de nosotros</title>
</head>
    
        <!-------------------------------------------------------------------------- Cabezal -------------------------------------------------------------------------->
        <%-include ("../partials/header.ejs") %>
        
        <!-------------------------------------------------------------------------- Banner --------------------------------------------------------------------------->
        <%-include ("../partials/banner.ejs") %>
        
        <!-------------------------------------------------------------------------- Main ----------------------------------------------------------------------------->
        
        <body class="contenedor1">
            
            <div class="parrafo1">  
            <h2>Misión:</h2>
                <p>Generar valor económico y social por medio de proveedores textiles y externos</p>
            </div>
               <div class="parrafo2">
                <h2>Visión:</h2>
                <p>El enfoque hacia el cumplimiento de nuestra Misión sólo se compara con la pasión por alcanzar nuestros objetivos estratégicos:</p>
                 <div class="menu1">

                 
                <li>Generar empleos en comunidades marginadas.</li>
                <li>Apoyo a madres solteras.</li>
                <li>Apoyando el empleo de PcD.</li>
                <li>Apoyando programas en protección del medio ambiente.</li>
            </div>
            </div>
            <h2>Valores:</h2><br>
                <h3>¿Como Somos?</h3>
                    <li>Integridad y Respeto</li>
                    <li>Es íntegro en sus comportamientos y mantiene un trato respetuoso y digno con todas las personas.</li>
                    <li>Sencillez y Actitud de Servicio</li>
                    <li>Percibe que todos son valiosos e importantes y siempre está dispuesto a colaborar y servir para beneficio de nuestra organización.</li>
                    <li>Sentido de Responsabilidad</li>
                    <li>Es comprometido. Mide, reconoce y se hace cargo de sus acciones.</li>
                    <li>Pasión por Aprender</li>
                    <li>Está en búsqueda constante de aprendizaje y de nuevos retos que le permiten desarrollarse continuamente en un entorno dinámico.</li>
                <h3>¿Como trabajamos?</h3>
                    <li>Enfoque al Cliente</li>
                    <li>Siempre en busca de mejorar la propuesta de valor y experiencia de nuestros clientes.</li>
                    <li>Orientación a la Innovación</li>
                    <li>Cuestiona constantemente el estatus quo para transformar positivamente nuestro Modelo de Negocio.</li>        
                
            </body>
    
        <!-------------------------------------------------------------------------- Fotter ----------------------------------------------------------------------------->
       
        <%- include('../partials/footer') %>

        <!-- <script src="../js/faq.js"></script> -->
    
    
</html>