<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/contact.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all">
    <title>Contacto</title>
</head>
    <body>
        <!-------------------------------------------------------------------------- Cabezal -------------------------------------------------------------------------->
        <%-include ("../partials/header.ejs") %>
        
        <!-------------------------------------------------------------------------- Banner --------------------------------------------------------------------------->
        <%-include ("../partials/banner.ejs") %>
        
        <!-------------------------------------------------------------------------- Main ----------------------------------------------------------------------------->
        <main>
                <h1>Contacto</h1>
            <div class="contact__container">
                <div class="Mike">
                    <img class="contact__img" src="/images/creadores/Miguel Santamarina.jpeg" alt="Foto Miky">
                    <br>
                    <h2>Miguel Santamaria</h2>
                        <p>Soy un estudiante de Ingeniería en Tecnologías computacionales con experiencia en diseño de algoritmos y desarrollo web. También tengo experiencia directa en gestión de proyectos y cuentas de grupos estudiantiles.</p>
                    <br>
                </div>
                <div class="Marco">
                    <img class="contact__img" src="/images/creadores/MarcoAntonio.jpg" alt="Foto de Marco Garcia"
                    <br>
                    <h2>Marco Antonio Garcia Santillan</h2>
                        <p>Estudié Ing. Electrónica en el instituto tecnologico de Morelia, acobo de terminar mi maestría en ingenieria electrónica, ahora quiero incursionar en el campo de la programación como desarrollador Full stack, primeramente Dios.</p>
                        <br>
                </div>
                <div class="Javier">
                    <img class="contact__img" src="/images/creadores/JavierSantoyo.jpg" alt="Foto Javier Santoyo">
                    <br>
                    <h2>Javier Santoyo</h2>
                        <p>Licenciado en tecnologías de Información con experiencia en bases de datos relacionales, administración de personal y procesos.</p>
                        <p> Celular: 8112405598 (Whatsapp)</p>
                    <br>
                </div>
                <div class="Diego">
                    <img class="contact__img" src="/images/creadores/DiegoSalas.jpg" alt="Foto Diago Salas">
                    <br>
                    <h2>Diego Salas</h2>
                        <p>Biomedico con dos años de experiencia y maestro de yoga creando un negocio en linea.</p>
                    <br>
                </div>
            </div>
        </main>
        
        <!-------------------------------------------------------------------------- Fotter ----------------------------------------------------------------------------->
       
        <%- include('../partials/footer') %>
    </body>
    
</html>