<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="../css/faq.css" type="text/css" media="all">
        <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all">
    <title>Documentacion sombre Los roperos API</title>
</head>
<body>
    <body>
        <!-------------------------------------------------------------------------- Cabezal -------------------------------------------------------------------------->
        <%-include ("../partials/header.ejs") %>
        
        <!-------------------------------------------------------------------------- Banner --------------------------------------------------------------------------->
        <%-include ("../partials/banner.ejs") %>
        
        <!-------------------------------------------------------------------------- Main ----------------------------------------------------------------------------->
        <body>
        <main class="acercaDe__principal">

            <h1>Productos</h1>
            <article>
                <h2>Ver todos los productos:</h2>
                    <p>http://localhost:1689/products/all</p>
                <pre>
                    <code>
                        {
                            "total": 20,
                            "data": [
                                {
                                    "id": 13,
                                    "name": "wergwme",
                                    "model": "reigcpwrimg",
                                    "brand": "yibti",
                                    "size": "M",
                                    "color": "melon",
                                    "discount": null,
                                    "price": 45454,
                                    "decriptionProduct": "545454",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 14,
                                    "name": "cafetera3",
                                    "model": "Nestle",
                                    "brand": "rgmvtmip",
                                    "size": "M",
                                    "color": "blanco",
                                    "discount": null,
                                    "price": 13,
                                    "decriptionProduct": "jimii",
                                    "nameStatus": "Season",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 15,
                                    "name": "biybbi",
                                    "model": "reigcpwrimg",
                                    "brand": "yibti",
                                    "size": "M",
                                    "color": "blanco",
                                    "discount": null,
                                    "price": 1,
                                    "decriptionProduct": "iooo",
                                    "nameStatus": "Season",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 19,
                                    "name": "cafetera3",
                                    "model": "Cam01",
                                    "brand": "Ni idea3",
                                    "size": "Ch",
                                    "color": "Red3",
                                    "discount": null,
                                    "price": 7,
                                    "decriptionProduct": ".op,.p,.",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 20,
                                    "name": "cafetera3",
                                    "model": "Cam01",
                                    "brand": "Ni idea3",
                                    "size": "Ch",
                                    "color": "Red3",
                                    "discount": null,
                                    "price": 7,
                                    "decriptionProduct": ".op,.p,.",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 21,
                                    "name": "wergwme",
                                    "model": "Cam01",
                                    "brand": "Ni idea3",
                                    "size": "Ch",
                                    "color": "verde",
                                    "discount": null,
                                    "price": 6,
                                    "decriptionProduct": "mounmnu",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 22,
                                    "name": "biybbi",
                                    "model": "reigcpwrimg",
                                    "brand": "yibti",
                                    "size": "Ch",
                                    "color": "Red3",
                                    "discount": null,
                                    "price": 11,
                                    "decriptionProduct": "omoio",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 23,
                                    "name": "estoy enojado",
                                    "model": "De aqui3",
                                    "brand": "yibti",
                                    "size": "Ch",
                                    "color": "verde",
                                    "discount": null,
                                    "price": 9,
                                    "decriptionProduct": "oioumnu",
                                    "nameStatus": "Season",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 24,
                                    "name": "wergwme",
                                    "model": "Cam01",
                                    "brand": "Ni idea3",
                                    "size": "M",
                                    "color": "Red3",
                                    "discount": null,
                                    "price": 1,
                                    "decriptionProduct": ",ijmmpo",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 25,
                                    "name": "..vhoe.he",
                                    "model": ",rcwc",
                                    "brand": ",wrowgc",
                                    "size": "M",
                                    "color": ",xgiorgc",
                                    "discount": null,
                                    "price": 135,
                                    "decriptionProduct": "ewrcger",
                                    "nameStatus": "Season",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 26,
                                    "name": "ybub",
                                    "model": "Cam01",
                                    "brand": "ubbu",
                                    "size": "Ch",
                                    "color": "verde",
                                    "discount": null,
                                    "price": 120,
                                    "decriptionProduct": "yumnui",
                                    "nameStatus": "In-sale",
                                    "imgProduct": "Product1648192173851.jpg"
                                },
                                {
                                    "id": 27,
                                    "name": "omvhrrem,",
                                    "model": "omiomim",
                                    "brand": "oomiop",
                                    "size": "Ch",
                                    "color": "opmopi",
                                    "discount": null,
                                    "price": 8,
                                    "decriptionProduct": "oopomn",
                                    "nameStatus": "In-sale",
                                    "imgProduct": "Product1648192381482.jpg"
                                },
                                {
                                    "id": 28,
                                    "name": "Prueba mañanera...",
                                    "model": "Prada",
                                    "brand": "Pull & Bear",
                                    "size": "M",
                                    "color": "Cafe",
                                    "discount": null,
                                    "price": 3000,
                                    "decriptionProduct": "Prueba mañanera...",
                                    "nameStatus": "In-sale",
                                    "imgProduct": "Product1648228167592.jpg"
                                },
                                {
                                    "id": 29,
                                    "name": "Prueba tarde1",
                                    "model": "Prueba tard1",
                                    "brand": "Prueba tarde 1",
                                    "size": "M",
                                    "color": "Violeta",
                                    "discount": 10,
                                    "price": 2022,
                                    "decriptionProduct": "                                Prueba tarde...",
                                    "nameStatus": "In-sale",
                                    "imgProduct": "Product1648242518505.jpg"
                                },
                                {
                                    "id": 30,
                                    "name": "Prueba nocturna API 1",
                                    "model": "Prueba nocturna API 1",
                                    "brand": "Prueba nocturna API 1",
                                    "size": "G",
                                    "color": "Azul",
                                    "discount": 20,
                                    "price": 9000,
                                    "decriptionProduct": "Prueba nocturna API...",
                                    "nameStatus": "Nueva temporada",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 31,
                                    "name": "Prueba nocturna API 1",
                                    "model": "Prueba nocturna API 1",
                                    "brand": "Prueba nocturna API 1",
                                    "size": "G",
                                    "color": "Azul",
                                    "discount": 20,
                                    "price": 9000,
                                    "decriptionProduct": "Prueba nocturna API...",
                                    "nameStatus": "Nueva temporada",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 32,
                                    "name": "Prueba nocturna API 2",
                                    "model": "Prueba nocturna API 2",
                                    "brand": "Prueba nocturna API 2",
                                    "size": "ch",
                                    "color": "Azulado",
                                    "discount": 10,
                                    "price": 1000,
                                    "decriptionProduct": "Prueba nocturna API2...",
                                    "nameStatus": "In Sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 33,
                                    "name": "Prueba nocturna API 2",
                                    "model": "Prueba nocturna API 2",
                                    "brand": "Prueba nocturna API 2",
                                    "size": "ch",
                                    "color": "Azulado",
                                    "discount": 10,
                                    "price": 1000,
                                    "decriptionProduct": "Prueba nocturna API2...",
                                    "nameStatus": "In Sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 34,
                                    "name": null,
                                    "model": null,
                                    "brand": null,
                                    "size": null,
                                    "color": null,
                                    "discount": null,
                                    "price": null,
                                    "decriptionProduct": null,
                                    "nameStatus": null,
                                    "imgProduct": ""
                                },
                                {
                                    "id": 35,
                                    "name": null,
                                    "model": null,
                                    "brand": null,
                                    "size": null,
                                    "color": null,
                                    "discount": null,
                                    "price": null,
                                    "decriptionProduct": null,
                                    "nameStatus": null,
                                    "imgProduct": ""
                                }
                            ],
                            "status": 200,
                            "SearchAll": "Ok"
                        }
                    </code>
                </pre>
            </article>

            <article>
           <h2>Ver un producto en especifico:</h2>
                <p>http://localhost:1689/products/{id}</p>
                <pre>
                    <code>
                        http://localhost:1689/products/30

                        {
                            "data": {
                                "id": 30,
                                "name": "Prueba nocturna API 1",
                                "model": "Prueba nocturna API 1",
                                "brand": "Prueba nocturna API 1",
                                "size": "G",
                                "color": "Azul",
                                "discount": 20,
                                "price": 9000,
                                "decriptionProduct": "Prueba nocturna API...",
                                "nameStatus": "Nueva temporada",
                                "imgProduct": ""
                            },
                            "status": 200,
                            "SearchById": "Ok"
                        }
                    </code>
                </pre>
            </article>

            <article>                
            <h2>Buscar un producto en especifico:</h2>
            <p>http://localhost:1689/search_api?{nombreBuscador}={textoBuscado}</p>
                <pre>
                    <code>
                        http://localhost:1689/search_api?buscador=w
                    
                        {
                            "searchLength": 3,
                            "data": [
                                {
                                    "id": 13,
                                    "name": "wergwme",
                                    "model": "reigcpwrimg",
                                    "brand": "yibti",
                                    "size": "M",
                                    "color": "melon",
                                    "discount": null,
                                    "price": 45454,
                                    "decriptionProduct": "545454",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 21,
                                    "name": "wergwme",
                                    "model": "Cam01",
                                    "brand": "Ni idea3",
                                    "size": "Ch",
                                    "color": "verde",
                                    "discount": null,
                                    "price": 6,
                                    "decriptionProduct": "mounmnu",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                },
                                {
                                    "id": 24,
                                    "name": "wergwme",
                                    "model": "Cam01",
                                    "brand": "Ni idea3",
                                    "size": "M",
                                    "color": "Red3",
                                    "discount": null,
                                    "price": 1,
                                    "decriptionProduct": ",ijmmpo",
                                    "nameStatus": "In-sale",
                                    "imgProduct": ""
                                }
                            ],
                            "search": "Ok"
                        }
                    </code>
                </pre>
            </article>

            <article>
            <h2>Crear un producto:</h2>
                <p>http://localhost:1689/products/new_api</p>
            <pre>
                <code>
                    {
                        "data": {
                            "id": null,
                            "name": "Prueba dominguera API 2",
                            "model": "Prueba dominguera API 2",
                            "brand": "Prueba dominguera API 2",
                            "size": "ch",
                            "color": "Azulado",
                            "discount": 10,
                            "price": 1000,
                            "decriptionProduct": "Prueba dominguera API2...",
                            "nameStatus": "In Sale"
                        },
                        "status": 200,
                        "Created": "Ok"
                    }
                </code>
            </pre>
            </article>

            <article>
            <h2>Borrar un producto:</h2>
                <p>http://localhost:1689/products/delete_api/{id}</p>
                <pre>
                    <code>
                        1
                    </code>
                </pre>
            </article>

            <h1>Usuarios</h1>
            <article>
                <h2>Ver todos los usuarios:</h2>
                    <p>http://localhost:1689/user/all</p>
                <pre>
                    <code>
                        {
                            "total": 3,
                            "data": [
                                {
                                    "idUser": 2,
                                    "firstName": "Javier",
                                    "lastName": "Santoyo",
                                    "userName": null,
                                    "email": "javier.santoyo@yahoo.com",
                                    "password": null,
                                    "birthday": null,
                                    "address": "Invalid date",
                                    "IdImageUser": "User1648260523318.jpg"
                                },
                                {
                                    "idUser": 3,
                                    "firstName": "Javier",
                                    "lastName": "Santoyo",
                                    "userName": "JavierSantoyo",
                                    "email": "javier.santoyo@yahoo.com",
                                    "password": "123",
                                    "birthday": "2014-01-01",
                                    "address": "Invalid date",
                                    "IdImageUser": "User1648260687262.jpg"
                                },
                                {
                                    "idUser": 4,
                                    "firstName": "Karen",
                                    "lastName": "Reyes",
                                    "userName": "qwerty",
                                    "email": "wergcew@sdfv.com",
                                    "password": "123",
                                    "birthday": "2020-02-20",
                                    "address": "Invalid date",
                                    "IdImageUser": null
                                }
                            ],
                            "status": 200,
                            "SearchAll": "Ok"
                        }
                    </code>
                </pre>
            </article>

            <article>
                <h2>Buscar un usuario:</h2>
                    <p> http://localhost:1689/user/{id}</p>
                <pre>
                    <code>
                        {
                            "data": [
                                {
                                    "idUser": 4,
                                    "firstName": "Karen",
                                    "lastName": "Reyes",
                                    "userName": "qwerty",
                                    "email": "wergcew@sdfv.com",
                                    "password": "123",
                                    "birthday": "2020-02-20",
                                    "address": "Invalid date",
                                    "IdImageUser": null
                                }
                            ],
                            "status": 200,
                            "SearchById": "Ok"
                        }
                    </code>
                </pre>
                </article>
    
            <article>
            <h2>Crear un usuario:</h2>
                <p>http://localhost:1689/user/new_user_api</p>
            <pre>
                <code>
                    {
                        "firstName": "Karen",
                        "lastName": "Reyes",
                        "userName": "qwerty",
                        "email": "wergcew@sdfv.com",
                        "password": "123",
                        "birthday": "2020/02/20",
                        "address": "xyz",
                        "IdImageUser": null
                    }
                </code>
            </pre>
            </article>

            <article>
            <h2>Borrar un usuario:</h2>
                <p>http://localhost:1689/user/delete_api/{id}</p>
                <pre>
                    <code>
                        1
                    </code>
                </pre>
            </article>


        </main>
    </body>
        <!-------------------------------------------------------------------------- Fotter ----------------------------------------------------------------------------->
       
        <%- include('../partials/footer') %>

        <script src="#"></script>
    </body>
</body>
</html>