<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/home.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/bootstrap-grid.min.css" type="text/css" media="all">
    <title>Tiendas</title>
</head>
    <body>
        <!-------------------------------------------------------------------------- Cabezal -------------------------------------------------------------------------->
        <%-include ("../partials/header.ejs") %>
        
        <!-------------------------------------------------------------------------- Banner --------------------------------------------------------------------------->
        <%-include ("../partials/banner.ejs") %>
        
        <!-------------------------------------------------------------------------- Main ----------------------------------------------------------------------------->
        <main>
                <h1>Tiendas<t1>
                    <h2>Los Roperos</h2>
                        <P>Deseas ser parte de ‘Los roperos’, contamos con franquicias.</P>
                        <p>Sin inversión inicial</p>
                        <p>Requisitos.</p>
                            <li>Terreno mayor a 150 m2</li>
                            <li>Documentación catastral</li>
                            <li>INE</li>
                            <li>Comprobante de domicilio</li>
                        <p>Ofrecemos</p>
                            <li>Publicidad y venta desde el primer día en nuestro sitio</li>
                            <li>Desarrollamos el terreno para tener instalaciones adecuadas.</li>
                            <li>Asesoría jurídica</li>

                        <li>Contáctanos o búscanos por nuestras redes sociales.</li>
            <div>
                <h2>Amenax boutique</h2>
                    <p>Monterrey</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28751.816823963858!2d-100.24879740505935!3d25.7382707725946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662eb817d3ef091%3A0x812bcb47292f5bc5!2sAmenax%20boutique!5e0!3m2!1ses-419!2smx!4v1647931770236!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>  
            <div>
                <h2>MEN'S FACTORY, MEN´S FASHION</h2>
                    <p>Guadalajara</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.837384290163!2d-103.34721708469186!3d20.676193815286627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b1fa90e92919%3A0x32512fc7209c8b73!2sMEN&#39;S%20FACTORY%2C%20MEN%C2%B4S%20FASHION!5e0!3m2!1ses-419!2smx!4v1647932240695!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>           
            </div>
            <div>
                <h2>MEN'S FACTORY</h2>
                <p>Ciudad de México, CDMX</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30101.885695331595!2d-99.15507119277999!3d19.42382183400647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fed2a077f205%3A0x652ac97035c1a58!2sMEN&#39;S%20FACTORY!5e0!3m2!1ses-419!2smx!4v1647932344821!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <p>Deseas una franquisia, contactanos </p>
            </main>
        
        <!-------------------------------------------------------------------------- Fotter ----------------------------------------------------------------------------->
       
        <%- include('../partials/footer') %>
    </body>
    
</html>